@import url('https://fonts.googleapis.com/css?family=Roboto')

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto' sans-serif;
}
a{
    text-decoration: none;
    color: white;
    display:block;
    padding: 20px 5px;
    font-size: 30px;
}
a:hover{
    background-color: #fff;
    color: black;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
body{
    font-family: arial;
    background: url(bgimage.jpeg);
}
ul{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}
img{
    width: 40px;
}
input[type="checkbox"]
{
    display: none;
}
input[type="checkbox"]:checked ~nav{
    transform: translateX(350px);
}
nav{
    background-color: rgba(16,16,16, .5);
    width: 350px;
    height: 100vh;
    position: absolute;
    left: -350px;
    transition: all .5s;
}
div{
    align-items: center;
    padding: 40px;
    
}
div h1{
    color: red;
    font-size: 20px;
    text-align: center;
}
div p{
    width: 50%;
    text-align: center;
    padding: 10px 10px;
    right: 40%;
    float: right;
}
.wrapper{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 20px;
}
.contact-form{
    max-width: 550px;
    margin: 0 auto;
    background: rgba(0,0,0,0.8);
    display: flex;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px;
}
.input-fields{
    display: flex;
    flex-direction: column;
    margin-right: 4%;
}
.input-fields,
.msg{
    width: 48%;
}
.input-fields .input,
.msg textarea{
    margin: 10px 0;
    background: transparent;
    border: 0;
    border-bottom: 2px solid #c5ecfd;
}
