*{
    margin: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    color: white;
    display:block;
    padding: 20px 5px;
    font-size: 30px;
}
a:hover{
    background-color: #fff;
    color: black;
}
label{
    padding: 15px;
    position: absolute;
    z-index: 1;
}
body{
    font-family: arial;
    background: url(bgimage.jpeg);
}
ul{
    list-style: none;
    top: 70px;
    position: absolute;
    width: 100%;
}
img{
    width: 40px;
}
input[type="checkbox"]
{
    display: none;
}
input[type="checkbox"]:checked ~nav{
    transform: translateX(350px);
}
nav{
    background-color: rgba(16,16,16, .5);
    width: 350px;
    height: 100vh;
    position: absolute;
    left: -350px;
    transition: all .5s;
}
